name: Docker

on:
  push:
    tags:
       - '*'

env:
  OWNER: chipp

jobs:
  push:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    strategy:
      matrix:
        tag: [x86_64_musl, armv7_musl]
        include:
          - tag: x86_64_musl
            target: x86_64-unknown-linux-musl
            openssl_arch: linux-x86_64
          - tag: armv7_musl
            target: armv7-unknown-linux-musleabihf
            openssl_arch: linux-generic32

    env:
      IMAGE_NAME: build.rust.${{ matrix.tag }}

    steps:
      - uses: actions/checkout@v2

      - name: Build image
        run: docker build . --build-arg TARGET=${{ matrix.target }} --build-arg OPENSSL_ARCH=${{ matrix.openssl_arch }} --tag $IMAGE_NAME

      - name: Log into registry
        run: echo ${{ secrets.CR_PAT }} | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin

      - name: Push image
        run: |
          IMAGE_ID=ghcr.io/$OWNER/$IMAGE_NAME

          # Change all uppercase to lowercase
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')

          # Strip git ref prefix from version
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          RUST_RELEASE=$(echo $VERSION | sed -e 's,\(.*\)_.*,\1,')

          # Strip "v" prefix from tag name
          [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')

          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION

          docker tag $IMAGE_NAME $IMAGE_ID:$VERSION
          docker push $IMAGE_ID:$VERSION

          docker tag $IMAGE_NAME $IMAGE_ID:$RUST_RELEASE
          docker push $IMAGE_ID:$RUST_RELEASE

          docker tag $IMAGE_NAME $IMAGE_ID:latest
          docker push $IMAGE_ID:latest
